.dtPerson {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem;
    color: aqua;
}

.notPerson{
    font-weight: 400;
    text-transform: capitalize;
    margin: 1rem;
    padding: 1rem;
    color: lightcoral;
}